*{
    margin: 0;
    padding: 0;
}
body{

font-family: 'Open Sans', sans-serif;

}
.he-con{
color: #181818;
font-size: 45px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding: 6px 0;

}
.header{
    background-color: #FFF8F3;
}
nav span{
    color: #FD6E0A;
}
.primary-btn{
    background-color: #FD6E0A;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 12px 30px;

}
nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    margin-left: 13px;
    color:#474747;
     font-size: 20px;
     font-style: normal;
     line-height: normal; 
     text-transform: uppercase;   

}
nav ul li{
    margin-right: 50px;
    font-size: 20px;
}
.bannar{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 160px;
    align-items: center;
    background-image: url("./img/header_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;

}

.bannar-left{

}
.bannar-right{

}
.bannar-left h3{
  color:  #474747;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}
.bannar-right img{

}
.bannar-left h2{
    color: #181818;
     font-size: 85px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
}
.bannar-left p {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 10px;
}
.primary-bt {
    color: #FD6E0A;
    border: none;
    text-transform: capitalize;
    padding: 12px;
    font-size: 17px;
    border: 1px solid #FD6E0A;
    background: none;
    margin-left: 18px;
    border-radius: 5px;
}
.about {
    background-color: #FFF8F3;
    width: 670px;
    margin: auto;
    padding: 100px;
    margin-top: 80px;
    border-radius: 8px;
}
.about-innar h4 {
    text-align: center;
    font-size: 29px;
    text-transform: capitalize;
    margin-bottom: 21px;
}
.about-innar p {
    text-align: center;
    line-height: 26px;
}
.bo-about {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 28px;
}
.what{
    padding: 100px 0;

}
.what-top{

}
.what-top h3 {
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 23px;
}
.what-top p {
    text-align: center;
    padding: 0px 162px;
    line-height: 25px;
    font-size: 18px;
}
.what-main {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 100px;
    gap: 50px;
}
.what-box img {
    margin-bottom: 10px;
}
.what-box {
    margin-bottom: 6px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 5px;
}
.resume-hed {
    text-align: center;
    font-size: size;
    font-size: 34px;
    text-transform: capitalize;
}

.resume-main {
    display: flex;
    padding: 100px;
    gap: 250px;
}
.resume-left h3 {
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 700;
}

.resume-left p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.resume-box h4{
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 700;
}

.resume-box p{
    font-size: 12px;
    line-height: 18px;
    margin-top: 7px;
    margin-bottom: 7px;

}
.ex-con{
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 10px;

}
.ed-con {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.resume-left{
    padding: 11px  0;
}
.resume-box hr {
    margin-top: 23px;
    width: 104%;
    margin-bottom: 23px;
}
.resume-left hr {
    margin-top: 23px;
    width: 104%;
}
.btn-f {
    text-align: center;
    margin-top: -77px;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    background: none;
    background: #FD6E0A;
    width: 133px;
    margin: auto;
    height: 46px;
    margin-top: -52px;
    border-radius: 8px;
    color: white;
    line-height: 37px;
}