*{
    margin: 0;
    padding: 0;
}
body{

font-family: 'Open Sans', sans-serif;

}
.he-con{
color: #181818;
font-size: 45px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding: 6px 0;

}
.header{
    background-color: #FFF8F3;
}
nav span{
    color: #FD6E0A;
}
.primary-btn{
    background-color: #FD6E0A;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 12px 30px;

}
nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    margin-left: 13px;
    color:#474747;
     font-size: 20px;
     font-style: normal;
     line-height: normal; 
     text-transform: uppercase;   

}
nav ul li{
    margin-right: 50px;
    font-size: 20px;
}
.bannar{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 160px;
    align-items: center;
    background-image: url("./img/header_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;

}

.bannar-left{

}
.bannar-right{

}
.bannar-left h3{
  color:  #474747;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}
.bannar-right img{

}
.bannar-left h2{
    color: #181818;
     font-size: 85px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
}
.bannar-left p {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 10px;
}
.primary-bt {
    color: #FD6E0A;
    border: none;
    text-transform: capitalize;
    padding: 12px;
    font-size: 17px;
    border: 1px solid #FD6E0A;
    background: none;
    margin-left: 18px;
    border-radius: 5px;
}